// Colors
$lightestGrey: #FAFAFA;
$bgGrey: #F5F5F5;
$lighterGrey: #D1D1D1;
$lightGrey: #C5C5C5;
$grey: #A5A5A5;
$darkGrey: #858585;

$textGrey: #353535;

$lightPink: #dda1ae;
$pink: #cb6f83;
$darkPink: #bb445e;

$white: #FFFFFF;

// Skeleton CSS framework
@import "skeleton/normalize";
@import "skeleton/skeleton";

// Iota
@import "iota/mixins";
@import "iota/header";
@import "iota/login-view";
@import "iota/iota";

// Font
@import url(https://fonts.googleapis.com/css?family=Didact+Gothic&subset=latin,greek);

// Base CSS
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}

body {
  background-color: $bgGrey;
  font-family: 'Didact Gothic', sans-serif;
  -webkit-font-smoothing: antialiased;
}

input:focus {
  border-color: $pink !important;
}

a {
  cursor: pointer;
  color: $pink;
  text-decoration: none;
  @include transition(color 0.2s);

  &:hover {
    color: $darkPink;
    @include transition(color 0.2s);
  }
}

.button-primary {

  background-color: $pink !important;
  border-color: $pink !important;
  @include transition(background-color 0.2s);

  &:hover {
    background-color: $darkPink !important;
    @include transition(background-color 0.2s);
  }

}

#content {
  padding-top: 70px;
}

#cover {
  // Make this a gradient maybe
  background-color: $bgGrey;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: scroll;
}

// Move to new file
.loading {
  color: $pink;
  position: absolute;
  top: calc(50% - 30px);
  text-align: center;
  left: 0;
  right: 0;
}