<script type="text/template" id="header-view">
  <div class="container">
    <div class="row">
      <div class="one-third column left">
        <h2 class="didact"><a href="/">ιota</a></h2>
      </div>
      <div class="one-third column center">
        <div class="search-container">
          <i class="fa fa-search"></i><input class="search-box" type="text"/>
        </div>
      </div>
      <div class="one-third column right">
        <h6>
          <a class="settings-link">settings</a> | 
          <a class="logout-link">logout</a>
        </h6>
      </div>
    </div>
  </div>
</script>