<script id="iota-video-view" type="text/template">
  <div class="iota-box iota-full">
    <!--<div class="content-iota content-link with-thumb" ng-click="playVideo($event, content)">-->
    <div class="iota-video">
      <div class="iota-title"><%= title %>
        <div class="play-button">
          <!--<span class="genericon genericon-play"></span>-->
        </div>
      </div>
    </div>
    <div class="perma-image-screen"></div>
    <img class="iota-image" src="<%= img %>">
  </div>
</script>