<script id="login-view" type="text/template">
  <div class="container">
    <div class="login">

      <div class="login-header">
        <h2><a href="/">ιota</a></h2>
      </div>

      <h6 class="request-result" style="display: none;"></h6>

      <div class="login-content">
        <div class="login-body">
          <form class="login-form">
            <input class="u-full-width email-input" name="email" type="email" placeholder="email" required>
            <input class="u-full-width password-input" name="password" type="password" placeholder="password" required>
            <input class="login-submit button button-primary" type="submit" value="login">
          </form>
          <div class="login-footer">
            <p>First time here? <a class="show-register">Get started now.</a></p>
          </div>
        </div>

        <div class="register-body" style="display: none;">
          <form class="register-form">
            <input class="u-full-width email-input" name="email" type="email" placeholder="email" required>
            <input class="u-full-width password-input" name="password" type="password" placeholder="password" required>
            <input class="u-full-width password2-input" name="password2" type="password" placeholder="confirm password" required>
            <input class="register-submit button button-primary" type="submit" value="sign up">
          </form>
          <div class="register-footer">
            <p><a class="show-login">Back</a></p>
          </div>
        </div>
      </div>

      <div class="request-process" style="display: none;">
        <h5>Submitting...</h5>
      </div>

    </div>
  </div>
</script>