.iota {
  position: relative;
  margin: 20px 15px 0px 15px;
  height: 320px;
  width: 100%;
  max-width: 290px;
  display: inline-block;

  .iota-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .iota-content {
    height: 300px;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 320px;

    @include transition(background 0.2s);
    @include box-shadow(0px, 0px, 7px, $lighterGrey);

    .iota-footer {
      background-color: $lightestGrey;
      position: absolute;
      z-index: 2;
      bottom: 0px;
      width: calc(100% - 40px);
      padding: 15px 20px;
      left: 0px;
      right: 0px;
      height: 60px;
      overflow: hidden;
      text-align: center;

      @include transition(height 0.2s);


      // URL fadeaway
      &::after {
        content: '';
        position: absolute; 
        bottom: 0px;
        left: 0;
        width: 100%;
        padding: 15px 0;
        opacity: 1;

        @include transition(opacity 0.2s);
        
        background-image: linear-gradient(to top, $lightestGrey, $lightestGrey 20%, transparent);
      }

      .iota-title {
        font-weight: bold;
        padding-bottom: 10px;
      }

      .iota-url {
        color: $darkGrey;
        line-height: 1.4em;
      }
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.4);
      @include transition(background 0.2s);

      .iota-footer {
        height: 90px;
        @include transition(height 0.2s);

        &::after {
          opacity: 0;
          @include transition(opacity 0.2s);
        }
      }
    }

  }
  
}