@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin breakpoint($class) {
  @if $class == x-small {
    @media (max-width: 600px) { @content; }
  }
 
  @else if $class == small {
    @media (max-width: 1000px) { @content; }
  }
 
  @else if $class == medium {
    @media (max-width: 1280px) { @content; }
  }
 
  @else if $class == large {
    @media (min-width: 1281px) { @content; }
  }
 
  @else {
    @warn "Breakpoint mixin supports: x-small, small, medium, large";
  }
}